<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Todo List</title>
</head>
<body>
    
    <!--todo list container-->
    <div id="todo-list-container">

        <!--heading-->
        <header id="todo-list-heading">
            <!--progress bar for all the steps for creating a task-->
            <div class="progress-bar-container">
                
                <!--background boxes of the bar-->
                <div class="progress-bar-bg">
                    <!--progress-bar-filler class is used to fill the boxes-->
                    <div class="progress-bar-filler"></div>
                </div>
                <div class="progress-bar-bg"></div>
                <div class="progress-bar-bg"></div>
                <div class="progress-bar-bg"></div>
                
            </div>
        </header>

        <main>
        </main>

    </div>
    

</body>
</html>