body{
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family:sans-serif;
    background-color: black;
    color: white;
}

div,header,main, footer{
    box-sizing: border-box;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 


/*--todo list container styles--*/
#todo-list-container{
    margin: auto;
    background-color: #161616;
    width: 925px;
    height: 575px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

/*--todo list heading--*/
#todo-list-heading{
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
    background-color:#2b2b2b;
    width: 100%;
    height: 15%;
}

/*--heading progress bar container--*/
.progress-bar-container{
    position: relative;
    display: flex;
    width: 12%;
    height: 1.8rem;
    justify-content: space-between;
}

/*--progress bar bg boxes--*/
.progress-bar-bg{
    width: 48%;
    height: 100%;
    border-radius: 3px;
    background: grey;
    overflow: hidden
}

/*--styles and animation to fill the box--*/
@keyframes fillColor{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes emptyColor{
    from{
        width: 100%;
    }
    to {
        width: 0;
    }
}

.fillColor{
    animation: fillColor .4s linear 1;
    animation-fill-mode: forwards;
}

.emptyColor{
    animation: emptyColor .4s linear 1;
    animation-fill-mode: forwards;
}

.progress-bar-filler{
    height: 100%;
    width: 0;
    background-color: #0074E0;
}

/*---styles for main part of the todo list---*/
main{
    width: 100%;
    height: 68%;
}

#todo-list{
    width: 400%;
    height: 100%;
    display: flex;
    transition: transform .5s linear;
}

/*--todo div width--*/
#todo-list > div{
    width: 25%;
    height: 100%;
}

/*-- styles for the div which will be showed if there are no tasks--*/
#no-tasks{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}
/*--animation for the text to fade in--*/
@keyframes textFadeIn{
    from{
        opacity: 0;
        top: 80%;
    }

    to{
        opacity: 1;
        top: 50%;
    }
}

.no-tasks-msg{
    height: 60%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.no-tasks-msg p{
    color: white;
    margin: 0;
    position: absolute;
    top: 60%;
    opacity: 0;
    font-weight: 400;
    text-align: center;
    font-size: 2.4rem;
    animation: textFadeIn .5s linear 1;
    animation-fill-mode: forwards;
    text-shadow: 2px 2px #000000;
    line-height: 1.4;
}

/*--styles for create new task btn--*/

button{
    background-color: #0074E0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    color: white;
}

button:hover{
    background-color: #035097;
}

#create-new-task-btn{
    width: 24%;
    height: 20%;
    padding: 4%;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    
}


/*---styles for tasks-display-container---*/
#tasks-display-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
}

/*--styles for tasks container--*/
#tasks-list-form{
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*--styles for task--*/
.task{
    position: relative;
    width: 98%;
    height: 32%;
    margin-top: .8rem;
    padding: .5rem;
    box-sizing: border-box;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*--styles for label which will contain the task inside task--*/ 
.task > label{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-sizing: border-box; 
    padding-left: 3.5rem;
}

/*--to hide the default checkbox--*/
.task input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    left: 2%;
}

/*--to create our own checkbox--*/
.checkbox{
    position: absolute;
    left: 2%;
    height: 1.6rem;
    width: 1.6em;
    border-radius: 4px;
    background-color: rgb(68, 67, 67);
    border: 1px solid rgb(92, 92, 92);
    transition: background-color .1s ease-in;  
}

.task input:checked ~ label > .checkbox{
    background-color: #3286d4;
  }

/*--hover logic for the checkbox--*/
.task:hover .checkbox{
    background-color: rgb(102, 100, 100);
}

/*--styles for description and date--*/
.task-desciption-date-container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*--common styles for the p tag after the description and date container--*/
.task-desciption-date-container p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*--styles for description and date--*/
.task-description{
    font-size: 1.5rem;
    color: white;
    margin: 0;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.task-date{
    font-size: .8rem;
    color: rgb(170, 169, 169);
    margin: 0;
    letter-spacing: 1px;
}
.task-date i{
    font-size: 1.2rem;
}

/*--styles for category--*/
.task-category{
    width: 20%;
    height: 100%;
    padding: .5rem;
    font-size: 1.4rem;
    box-sizing: border-box;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 1.2px;
}

/*--styles for add and delete task btns container and the buttons--*/
#add-delete-task-btns-container{
    width: 44%;
    height: 22%;
    display: flex;
    justify-content: space-between;
}

#add-delete-task-btns-container button{
    width: 48%;
    height: 100%;
    font-size: 1.4rem;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 8px;
}
#delete-task-btn{
    background-color: rgb(192, 54, 54);
}
/*--delete button hover logic--*/
#delete-task-btn:hover{
    background-color: rgb(126, 19, 19);
}

/*--styles for create task tab--*/
#create-task-container form{
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*--styles for description--*/
#description{
    width: 100%;
}

.form-input::placeholder{
    color: rgb(158, 154, 154);
}

.form-input{
    height: 20%;
    border-radius: 12px;
    border: 0;
    background-color: rgb(58, 57, 57);
    color: white;
    font-size: 1.4vw;
    padding: .8rem;
    box-sizing: border-box;
    outline: none;
}

/*--styles for category and date--*/

#category-date-container{
    width: 100%; 
    height: 20%;
    display: flex;
    justify-content: space-between;
}

/*--category styles--*/
#category{
    width:  48%;
    height: 100%;
}

option{
    color: white;
    background-color: rgb(54, 54, 54);
    padding: 3%;
}

/*--to remove the dropdown arrow--*/
select {
    -moz-appearance: window;
    -webkit-appearance: none;
    padding-right: 20px;
}

/*--date styles--*/
#datepicker{
    width: 48%;
    height: 100%;
}


/*--styles for footer--*/

/*--animation for the footer--*/
@keyframes footerFadeIn{
    from{
        bottom: -25%;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}

.footerFadeIn{
    animation: footerFadeIn .5s 1;
    animation-fill-mode: forwards;
}

@keyframes footerFadeOut{
    from{
        bottom: 0;
        opacity: 1;
    }
    to{
        bottom: -25%;
        opacity: 0;
    }
}

.footerFadeOut{
    animation: footerFadeOut .5s 1;
    animation-fill-mode: forwards;
}

footer{
    position: absolute;
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    background-color:#2b2b2b;
    padding: 1rem 2rem;
    opacity: 0;
    bottom: 0;
    transition: .6s ease-out;
}

/*--styles for backward button--*/
#backward-btn-container{
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#backward-btn-container button{
    background-color: inherit;
    border: 0;
    outline: none;
    color: rgb(83, 81, 81);;
    font-size: 2.5rem;
    cursor: pointer;
}


#backward-btn:hover{
    color: rgb(192, 192, 192)!important;
}

/*--Add task button styles--*/
#add-task{
    height: 100%;
    width: 20%;
    border-radius: 8px;
    font-size: 1.5rem;  
}



/*--media queries--*/

/*--media query for 1024px--*/
@media screen and (max-width: 1024px){

    /*--todo-list-container--*/
    #todo-list-container{
        width: 90vw;
        height: 80vh;
        min-height: 520px;
    }

    /*--header progress bar container and progress bar--*/
    .progress-bar-container{
        height: 3.5rem;
        width: 24%;
    }
    .progress-bar{
        border-radius: 12px;
    }

    /*--no tasks message animation--*/
    @keyframes textFadeIn{
        from{
            opacity: 0;
            top: 60%;
        }
    
        to{
            opacity: 1;
            top: 30%;
        }
    }
    /*--no task message--*/
    .no-tasks-msg p{
        font-size: 3rem;
    }

    /*--create task button--*/
    #create-new-task-btn{
        width: 30%;
        height: 26%;
        font-size: 4vw;
        padding: 2%;
        border-radius: 18px;
    }

    /*--media query for the tab which will be showed if there are tasks in the database--*/
    /*--task container--*/
    #tasks-list-form{
        margin-bottom: 5vw;
    }
    /*--task and task label--*/
    .task{
        height: 40%;
        min-height: 132px;
    }
    .task > label{
        padding-left: 6rem;
    }

    /*--checkbox--*/
    .checkbox{
        width: 5vw;
        height: 5vw;
    }

    /*--task description--*/
    .task-description{
        font-size: 6vw;
    }

    /*--task date--*/
    .task-date{
        font-size: 3vw;
    }
    .task-date i{
        font-size: 3vw;
    }

    /*--task category--*/
    .task-category{
        width: 30%;
        font-size: 2rem;
    }

    /*--task add and delete button--*/
    #add-delete-task-btns-container{
        width: 60%;
    }
    #add-delete-task-btns-container button{
        font-size: 3vw;
    }

    /*--media queries for the form used to create a task--*/
    /*--form input--*/
    .form-input{
        font-size: 5vw;
        height: 25%;
    }
    .form-input option{
        font-size: 2vw;
    }

    /*--category-date-container--*/
    #category-date-container{
        height: 25%;
    }

    /*--date picker--*/
    /*--this element is created by the JQuery date picker--*/
    .ui-widget{
        font-size: 1.4em;
    }

    /*--footer and add task button on footer--*/
    footer{
        padding: .8rem 1rem;
    }
    #add-task{
        width: 30%;
        font-size: 2.8rem;
    }

    /*--backward button--*/
    #backward-btn-container button{
        font-size: 5rem;
    }
}




/*--media queries for 720px--*/
@media screen and (max-width: 768px){

    /*--todo list container--*/
    #todo-list-container{
        width: 95vw;
        height: 80vh;
    }

    /*--progress bar inside the header--*/
    .progress-bar-container{
        width: 30%;
    }
    
    /*--styles for the tab which will be showed if there are no tasks in the database--*/
    /*--no tasks message animation--*/
    @keyframes textFadeIn{
        from{
            opacity: 0;
            top: 60%;
        }
    
        to{
            opacity: 1;
            top: 15%;
        }
    }
    /*--styles for the message which will be showed if there are no tasks--*/
    .no-tasks-msg p{
        font-size: 6vw;
    }

    /*--create task button--*/
    #create-new-task-btn{
        width: 52vw;
        font-size: 4.5vw;
        max-width: 240px;
    }

    /*--styles for the tab whch will be showed if there are task in the database--*/
    /*--task list container--*/
    #tasks-list-form{
        margin-bottom: 6vw;
    }
    /*--task box and label inside the task--*/
    .task{
        height: 35%;
        
    }
    .task > label{
        padding-left: 10vw;
    }

    /*--checkbox--*/
    .checkbox{
        width: 6vw;
        height: 6vw;
    }

    /*--task description--*/
    .task-description{
        font-size: 6vw;
    }

    /*--task date--*/
    .task-date{
        font-size: 3vw;
    }
    .task-date i{
        font-size: 3vw;
    }
    
    /*--task category--*/
    .task-category{
        width: 35%;
    }

    /*--add and delete task buttons--*/
    #add-delete-task-btns-container{
        width: 85%;
    }
    #add-delete-task-btns-container button{
        font-size: 5vw;
    }


    /*--styles for the form through which a new task can be created--*/
    /*--styles for option tag used in category--*/
    option{
        font-size: 4vw;
    }

    /*--styles for date picker--*/
    .ui-widget{
        font-size: 1.25rem;
        left: 220px !important;
    }

    /*--styles for footer--*/
    /*--styles for add task button--*/
    #add-task{
        width: 45%;
        font-size: 6vw;
    }
}

/*--media queries for 425px--*/
@media screen and (max-width: 425px){

    /*--todo-list-container--*/
    #todo-list-container{
        width: 95vw;
        height: 80vh;
    }
    /*--styles for header and progress bar inside header--*/
    #todo-list-heading{
        padding-left: 1.2rem;
    }
    .progress-bar-container{
        width: 40%;
        height: 2.4rem;
    }

    
    /*--styles for the tab which will be displayed if there are no tasks in database--*/
    /*--no task message--*/
        /*--no tasks message animation--*/
        @keyframes textFadeIn{
            from{
                opacity: 0;
                top: 60%;
            }
        
            to{
                opacity: 1;
                top: 30%;
            }
        }
    .no-tasks-msg p{
        font-size: 7.5vw;
    }

    /*--create task button--*/
    #create-new-task-btn{
        width: 45vw;
        font-size: 6vw;
        height: 24%;
        border-radius: 6px;
    }

    
    /*--styles for the tab which will be showed if there are task in the database--*/
    /*--task class and label inside task box--*/
    .task{
        height: 34%;
    }
    .task > label{
        padding-left: 13%;
    }

    /*--checkbox--*/
    .checkbox{
        width: 8.5vw;
        height: 8.5vw;
    }

    /*--task description and date--*/
    .task-description{
        font-size: 8.5vw;
    }
    .task-date{
        font-size: 4vw;
    }

    /*--task container--*/
    .task-category{
        width: 38%;
        font-size: 5vw;
    }

    /*--add and delete button--*/
    #add-delete-task-btns-container{
        width: 96%;
    }
    #add-delete-task-btns-container button{
        font-size: 5vw;
        border-radius: 6px;
        padding: 1%;
    }


    /*--styles for the second tab which is used to create a task--*/
    .form-input{
        font-size: 6.2vw;
    }
    .form-input option{
        font-size: 5.2vw;
    }

    /*--styles for datepicker--*/
    .ui-widget{
        font-size: 4vw;
        left: 21% !important;
    }

    /*--styles for element inside the footer--*/
    #backward-btn-container button{
        font-size: 12.5vw;
    }
    #add-task{
        font-size: 6vw;
        width: 50%;
        border-radius: 6px;
    }
}