body{
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

div,header,main{
    box-sizing: border-box;
}

/*--todo list container styles--*/
#todo-list-container{
    margin: auto;
    background-color: #161616;
    width: 58%;
    height: 58%;
    border-radius: 18px;
    overflow: hidden;
}

/*--todo list heading--*/
#todo-list-heading{
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    background-color:#2b2b2b;
    width: 100%;
    height: 20%;
}

/*--heading progress bar container--*/
.progress-bar-container{
    position: relative;
    display: flex;
    width: 16.2%;
    justify-content: space-between;
}

/*--progress bar bg boxes--*/
.progress-bar-bg{
    width: 2vw;
    height: 1.2vw;
    border-radius: 3px;
    background: grey;
    overflow: hidden
}

/*--styles and animation to fill the box--*/
@keyframes fillColor{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.progress-bar-filler{
    height: 1.2vw;
    width: 0;
    background-color: rgb(31, 113, 180);
    animation: fillColor .2s linear 1;
    animation-fill-mode: forwards;
}


/*---styles for main part of the todo list---*/
main{
    display: flex;
    min-width: 100%;
    height: 80%;
    overflow: scroll;
}